<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MyTank - Prototype.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CEC3932B1EF9CC800081687F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CEC3933F1EF9CC800081687F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CEC3934A1EF9CC800081687F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
